/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*滑順*/
html {
	scroll-behavior: smooth;
  }

/* 頁首 */
.title{
	display: flex;
	justify-content: space-around;
}

.title-logo{
	width: 150px;
	height: 150px;
}
.title-project{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
}
.title-projcet-positione{
	cursor: pointer;
	text-decoration: none;
	font-size: 24px;
	color: black;
}
.title-projcet-positione:hover {
	color: rgb(165, 219, 245);
}

/* 基隆簡介 */
.introduction{
	width: 100%;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.6)),url(https://github.com/hongwei0522/DayTrip/blob/master/picture/%E5%9F%BA%E9%9A%86-01.jpg?raw=true);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
	position: relative;
	margin-bottom: 20px;
	opacity: 0.5;
}
.introduction-word{
	text-decoration: none;
	position: absolute;
	cursor: pointer;
	color: black;
	font-size: 36px;
}

.introduction-east{
	top: 50%;
	left: 5%;
}
.introduction-center{
	top: 10%;
	left: 48%;
}
.introduction-west{
	top: 50%;
	right: 5%;
}
/* 基隆在哪裡 */
.location{
	width: 100%;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.location-word{
	margin-left: 20%;
	font-size: 36px;
}
.location-alllogo{
	display: flex;
	justify-content: space-evenly;
}
.location-logo{
	width: 200px;
	height: 200px;
	border-radius: 50px;
	opacity: 0;
}
/* 基隆一日遊 */
.trip{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.trip-straight{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.trip-title{
	width: 10%;
}
.trip-logo{
	width: 100px;
	height: 100px;
}
.trip-word{
	writing-mode: vertical-lr 
}
.trip-progressEast{
	width: 100%;
  	height: 100%;
	transition: all .3s ease-out;
	display: inline-block;
	background-image: linear-gradient(rgb(63, 174, 226) 0%, rgb(16, 219, 209) 100%);
}
.trip-progressWest{
	width: 100%;
  	height: 100%;
	transition: all .3s ease-out;
	display: inline-block;
	background-image:linear-gradient(rgb(16, 219, 209) 0%, rgb(63, 174, 226) 100%);
}
.trip-progressCenter{
	width: 100%;
  	height: 100%;
	transition: all .3s ease-out;
	display: inline-block;
	background-image:linear-gradient(rgb(63, 174, 226) 0%, rgb(16, 219, 209) 100%);
}

.tripEastDiv{
	border: 2px black solid;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.tripWestDiv{
	border: 2px black solid;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.tripCenterDiv{
	border: 2px black solid;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.trip-center{
	width: 30%;
	justify-content: space-between;
}
.pin-spacer {
	overflow: hidden !important;
}
.trip-location{
	width: 300px;
	height: 200px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10%;
}
.trip-center-word{
	padding: 0 20px 20px 20px;
	text-align: center;
	font-size: 30px;
}
.trip-center-word-left{
	padding: 0 20px 20px 20px;
	text-align: left;
	font-size: 20px;
	line-height: 28px;
    letter-spacing: 4px;
}
.trip-button{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.trip-button-prev{
	width: 30%;
	border-right: 1px black solid;
	border-radius: 30px;
	font-size: 14px;
    line-height: 32px;
    letter-spacing: 2px;
	background-color: rgb(165, 219, 245);
}
.trip-button-next{
	width: 30%;
	border-left: 1px black solid;
	border-radius: 30px;
	font-size: 14px;
    line-height: 32px;
    letter-spacing: 2px;
	background-color: rgb(165, 219, 245);
}

.trip-map-East{
	width: 60%;
	position: relative;
	background-image: url("https://github.com/hongwei0522/DayTrip/blob/master/picture/%E6%9D%B1%E5%B2%B8.JPG?raw=true");
	background-repeat: no-repeat;
	background-size: 100% 100vh;
}
.trip-map-West{
	width: 60%;
	position: relative;
	background-image: url("https://github.com/hongwei0522/DayTrip/blob/master/picture/%E8%A5%BF%E5%B2%B8.JPG?raw=true");
	background-repeat: no-repeat;
	background-size: 100% 100vh;
}
.trip-map-Center{
	width: 60%;
	position: relative;
	background-image: url("https://github.com/hongwei0522/DayTrip/blob/master/picture/%E5%B8%82%E5%8D%80.JPG?raw=true");
	background-repeat: no-repeat;
	background-size: 100% 100vh;

}
/* .trip-map-gif{
	position: absolute;
	width: 100%;
} */
.tripStation{
	position: absolute;
	opacity: 1;
	top: 14%;
	right: 31%;
}
.EA1{
	position: absolute;
	opacity: 0;
}
.DayTrip1{
	top: 9%;
	right: 18%;
}
.DayTrip2{
	top: 4%;
	right: 18%;
}
.DayTrip3{
	top: 4%;
	right: 24%;
}
.DayTrip4{
	top: 1%;
	left: 42%;
}
.DayTrip5{
	top: 4%;
	left: 13%;
}
.tripStationWest{
	position: absolute;
	opacity: 1;
	top: 11%;
	left: 9%;
}
.DayTrip6{
	top: 4%;
	left: 43%;
}
.DayTrip7{
	left: 40%;
}
.DayTrip8{
	top: 8%;
	right: 11%;
}
.DayTrip9{
	top: 7%;
	right: 4%;
}
.DayTrip10{
	top: 10%;
	right: 0%;
}
.tripStationCenter{
	position: absolute;
	opacity: 1;
	top: 5%;
	left: 40%;
}
.DayTrip11{
	top: 4%;
	left: 34%;
}
.DayTrip12{
	top: 12%;
	left: 28%;
}
.DayTrip13{
	top: 5%;
	right: 35%;
}
.DayTrip14{
	top: 2%;
	right: 22%;
}
.DayTrip15{
	top: 17%;
	right: 41%;
}

/* 頁尾 */
.footer{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 150px;
}
.phone{
	margin-right: 10px;
}
.mail{
	margin-right: 10px;
}
.fb{
	width: 30px;
	padding-right: 20px;
}
.line{
	width: 30px;
}

@media (max-width: 479px){
    .location-alllogo{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}
	.title{
		justify-content: space-between;
	}
	.title-project{
		width: 60%;
	}
	.title-project-position{
		margin-right: 20px;
	}
	.location-alllogo{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.location-logo{
		width: 150px;
		height: 150px;
		margin-bottom: 30px;
		margin-right: 10px;
	}
	.trip-title{
		width: 20%;
	}
	.trip-logo{
		width: 38px;
		height: 38px;
	}
	.trip-word{
		font-size: 12px;
		text-align: center;
	}
	.trip-center{
		width: auto;
	}
	.trip-location{
		width: 250px;
		height: 150px;
	}
	.trip-center-word-left{
		font-size: 18px;
	}
}